//- Add The title
h3 #{title}

//-Include the Axis
include ./axis.jade
  //-Put the data in
  -for (var i = 0; i < data.length; i++)
    //- If thre should be a line, draw the line first
    if (i < data.length-1)
      - var p1 = data[i]
      - var p2 = data[i+1]
      line(x1=p1.x, y1=y_origin-p1.y, x2=p2.x, y2=y_origin-p2.y, stroke="black", stroke-width=1)

    //- Now draw the point
    - var p1 = data[i]
    circle(cx=p1.x, cy=y_origin-p1.y, r=p1.r, stroke="black", stroke-width="1", fill="red")
